.page {
  margin: 16px 0;
}

.main-info {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 400px;

  margin-bottom: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
