.form {
  margin: 16px 0;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;

  border: 3px solid rgb(152, 176, 255);
}

.form > button {
  padding: 4px 10px;
    border-radius: 8px;
}

.inputs {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.tags {
  display: flex;
  gap: 4px;
  flex-wrap: nowrap;
}
