.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.buttons > button {
  min-width: 70px;
  margin: 0 8px;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  background: rgb(152, 176, 255);
  color: white;
  cursor: pointer;
}
