.header {
  height: 80px;
  width: 100vw;
  background-color: #9dbdff;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.header a {
  color: white;
  font-weight: bold;
}

.baseLink {
  font-size: 24px;
}

.profile {
  position: absolute;
  right: 120px;
  font-size: 16px;
  font-weight: normal;
}
